
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- This is the about page for the website.-->
<h1>About</h1>
<p> Fushion is a website for online shopping of in trend clothes and accesories for both men and women.. </p>

