@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fushion</h1>
    <p><h3>Fushion is all about Fashion</h3> </p>
    <p> If you are struggling to fing the best fits for your wardrobe an want to try different in trend custom accesories at an affordable price make sure you check out our <a href ="/Categories">Categories Section.</a></p>
    <h6> Subscribe to our channel for weekly update on our latest items and never miss out on our limited time deals.</h6>
</div>
