@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<!-- This is the privacy page of the website-->
<p>This is the privacy page of the website. The credit for the theme goes to Bootswatch.com...!!!</p>
